@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata:wght@700&family=Oxygen:wght@700&display=swap');

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li, a {
    margin: 75px 0 -55px 0;
    color: #03A9F4;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 130px;
    text-indent: 20px;
}
a:focus {
    display: block;
    color: rgb(236, 229, 229);
    /* background-color: #eee;
    transition: all .5s; */
}
aside {
    border-radius: 5px;
    height: 50%;
    background-color: rgba(20, 20, 20, 0.733);
    padding-left: 10%;
    padding-top: 5%;
    /* margin-left: 5%;
    margin-right: 5%; */
    position: absolute;
    color: white;
    top: 20%;
/*   
    text-align: center; */
}
/* aside:hover{
    background-color: #f5f5f5;
  color: rgb(8, 8, 8);
  transition: all 1s;
} */
h1 {
    font-family: 'Oxygen', sans-serif;
    line-height: 0;
    font-size: 100px;
    font-weight: 500;
}
h2 {
    font-family: 'Inconsolata', monospace;
    float: left;
    line-height: .3;
    font-size: 50px;

}
h4 {
    float: left;
    margin-left: -2%;
    font-size: 1.5vw;
    font-weight: lighter;
}

 html, body {
     width: 100%;
     height: 100%;
    margin: 0;
    padding: 0;
    background : url('https://s3.envato.com/files/168774135/preview.jpg');
    
    background-repeat: no-repeat;
    background-size: cover; 
   
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #03A9F4;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: rgb(20, 19, 19);
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
 
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: inline-block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
#img{
    width: 10%;
    margin-right: 1%;
    float: left;
}


.button {
    
    /* display: inline-block; */
    float: left;
    border-radius: 4px;
    background-color: #329caa;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 350px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
#btnzdiv{
    
    position: absolute;
   
    padding-right: 50%;
}